<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

<head>
    <meta charset="UTF-8">
    <title>{% trans "Configure PersistentVolumeClaim" %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <a href="{% url 'object_selector' %}"
        style="display: inline-block; margin-bottom: 20px; text-decoration: none; color: #007bff;">
        ⬅ {% trans "Back" %}
    </a>

    <h2>{% trans "Configure PersistentVolumeClaim" %}</h2>

    <form method="post">
        {% csrf_token %}
        <div class="tree">
            <ul>
                <li>
                    <strong>{% trans "PVC Configuration" %}</strong>
                    <div class="tree-item">
                        {{ pvc_form.as_p }}
                    </div>
                </li>
            </ul>
        </div>

        <button type="submit">{% trans "Generate YAML" %}</button>
    </form>

</body>

</html>